/* Variabili */
:root {
  /* Colors */
  --darkblue: #001436;
  --midblue: #3f6c9e;
  --grayblue: #6a7786;
  --lightgray: #fbfcfc;
  --yellow: #f5ac01;

  /* Color Vars */
  --main-bg-color: var(--darkblue);
  --main-text-color: var(--lightgray);
  --main-a-color: var(--yellow);
  --main-ahover-color: var(--midblue);
  --main-socialbg-color: var(--lightgray);
  --main-sociala-color: var(--darkblue);
  --main-socialbghover-color: var(--yellow);
  --main-socialahover-color: var(--darkblue);
  --main-border-color: var(--grayblue);
  --main-foot-color: var(--grayblue);
}

/* BASE */
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: var(--main-a-color);
  transition: color 0.5s;
}
a:hover {
  color: var(--main-ahover-color);
}
/* MAIN */
#primarybanner {
  position: relative;
  text-align: center;
  color: var(--main-text-color);
  width: 100vw;
  height: 100vh;
}
#primarybanner .container {
  max-width: 640px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#primarybanner .container .column {
  padding: 2em;
  border: 0.2em solid var(--main-border-color);
}
#primarybanner h4 {
  font-size: 3rem;
}
#primarybanner p {
  padding: 1em 0;
}
/* SOCIAL */
.social {
  list-style: none;
  padding: 1em 0 0;
}
.social li {
  display: inline-block;
}
.social li a {
  color: var(--main-sociala-color);
  background-color: var(--main-socialbg-color);
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  transition: background-color 0.5s;
}
.social li a:hover {
  color: var(--main-socialahover-color);
  background-color: var(--main-socialbghover-color);
}
/* AVATAR */
/*.avatar {
  margin: 1em 0 0;
  border-radius: 50%;
  border: 0.2em solid #333333;
}*/
/* FOOTER */
.copyright {
  color: var(--main-foot-color);
  font-size: 12px;
  padding: 1em 0;
}
/* ANIMATIONS */
