
.icon-wordpress:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-google-plus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-rebel:before { content: '\f1d0'; } /* '' */